@model List<TsnEducationSample.Models.TodoItem>
@{
    ViewBag.Title = "サンプル";
}
<main aria-labelledby="title">
    <div class="row">
        <div class="d-flex flex-row justify-content-between mb-3">
            <h3>MyTodo</h3>
            @Html.ActionLink("サンプル一覧画面へ戻る", "Sample", "Home", new { area = "" }, new { @class = "dashboard-link" })
        </div>
        <form>
            <div class="d-flex flex-row gap-2">
                <input class="form-control" type="text" id="todoTitle" placeholder="タイトルを入力" />
                <input class="form-control" type="text" id="todoDescription" placeholder="説明を入力" />
                <select id="tagSelect">
                    <option value="" id="tagSelect" ,class="hidden">タグを選択</option>
                    <option value="仕事">仕事</option>
                    <option value="買い物">買い物</option>
                    <option value="重要">重要</option>
                    <option value="趣味">趣味</option>
                    <option value="勉強">勉強</option>
                </select>

                <button class="btn btn-primary " type="button" id="todoSubmit">TODO追加</button>
            </div>
        </form>
        <div id="todoListTable">
            @using (Html.BeginForm("SaveTodoItems", "Hinata", FormMethod.Post, new { @id = "LayoutForm" }))
            {
                <div style="display:flex; flex-direction:row; justify-content:space-between;">
                    <h4>TODOリスト一覧</h4>
                    <button class=" btn btn-primary mb-2" type="submit" id="saveTodo">保存</button>
                </div>
                <table class="table table-bordered" id="todoTable">
                    <thead>
                        <tr>
                            <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">操作</font></font></th>
                            <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">タイトル</font></font></th>
                            <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">タグ</font></font></th>
                            <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">説明</font></font></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @{string style = string.Empty;
                                //TODOアイテムを保存している場合はデフォルト行を非表示
                                if (Model.Any())
                                {
                                    style = "display:none;";
                                }
                                <td colspan="3" id="defaultFirstRow" style="text-align: center; @style">表示する項目がありません。</td>
                            }
                        </tr>

                        <!--データ表示-->


                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    <button class="btn btn-primary" type="button" id="editTodoItem">編集</button>
                                    <button class="btn btn-outline-danger" type="button" id="deleteTodoItem">削除</button>
                                </td>
                                <td>
                                    <span class="todoContents">@item.Title</span>
                                </td>
                                <td>
                                    <span class="todoContents">@item.Tab</span>
                                </td>
                                <td>
                                    <span class="todoComments">@item.Description</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</main>
@section scripts{
    <script type="text/javascript">

        //#region TODOリストの処理

        // 追加ボタンを作成
        function addTasks(task, description, select) {
            //デフォルト行を取得
            var defaultFirstRow = $('#defaultFirstRow');
            //デフォルト表示を非表示にする
            defaultFirstRow.hide();
            // tbody要素を取得
            var todoTableBody = $('#todoTable tbody')[0];
            // tbody要素に最下行を追加
            var trElem = todoTableBody.insertRow(-1);
            // td要素(セル要素)を追加
            var btnCellElem = trElem.insertCell(0);
            var titleCellElem = trElem.insertCell(1);
            var tabCellElem = trElem.insertCell(2);
            var descriptionCellElem = trElem.insertCell(3);
            //編集ボタンの列
            var editBtn = document.createElement('button');
            editBtn.id = "editTodoItem";
            editBtn.className = "btn btn-primary";
            editBtn.type = "button";
            editBtn.innerHTML = "編集";
            btnCellElem.appendChild(editBtn);
            btnCellElem.classList.add("text-center");
            //削除ボタンの列
            var deleteBtn = document.createElement('button');
            deleteBtn.id = "deleteTodoItem";
            deleteBtn.className = "btn btn-outline-danger";
            deleteBtn.type = "button";
            deleteBtn.innerHTML = "削除";
            btnCellElem.appendChild(deleteBtn);
            btnCellElem.classList.add("text-center");
            //タイトル列
            var titleCell = document.createElement('span');
            titleCell.className = "todoContents";
            titleCell.innerHTML = task;
            titleCellElem.appendChild(titleCell);
            //タグ列
            var tabCell = document.createElement('span');
            tabCell.className = "todoContents";
            tabCell.classList.add("tag-" + select);
            tabCell.innerHTML = select;
            tabCellElem.appendChild(tabCell);
            //説明列
            var descriptionCell = document.createElement('span');
            descriptionCell.className = "todoContents";
            descriptionCell.innerHTML = description;
            descriptionCellElem.appendChild(descriptionCell);
        };

        // 削除ボタンにタスクを消す機能を付与
        function deleteTasks(deleteBtn, todoTableBody, defaultFirstRow) {
            //デフォルト行を取得
            var defaultFirstRow = $('#defaultFirstRow');
            // tbody要素を取得
            var todoTableBody = $('#todoTable tbody')[0];

            var deleteRow = deleteBtn.closest('tr');
            deleteRow.remove();
            //TODOをすべて消した場合はデフォルト行を表示
            if (todoTableBody.rows.length == 1) {
                defaultFirstRow.show();
            }
        };

        //削除ボタンのクリックイベント設定
        $(document).on('click', '#deleteTodoItem', function (e) {
            e.preventDefault();
            deleteTasks(this);
        });

        //編集ボタンのクリックイベント設定
        $(document).on('click', '#editTodoItem', function (e) {
            e.preventDefault();

            let buttext = $(this).text();
            if (buttext == "編集") {
                editTasks(this);
            }
            else {
                saveTasks(this);
            }
        });

        function editTasks(editBtn) {
            //クリックしたボタンの行を取得
            var row = $(editBtn).closest('tr');
            //タイトル列、説明列を取得
            var cells = [row.find('td').eq(1), row.find('td').eq(3)];
            //上で取得したセルのspanタグをinputタグに置き換え
            cells.forEach(cell => {
                var currentText = cell.find('span').text();
                if (cell.find('input').length === 0) {
                    cell.html('<input type="text" class="form-control form-control-sm" value="' + currentText + '">');
                }
            });
            //タグ列を取得
            let cell = row.find('td').eq(2);
            var currentText = cell.find('span').text();
            cell.html('<select id="tagSelect">< option value = "" id = "tagSelect", class= "hidden" > タグを選択</option ><option value="仕事">仕事</option><option value="買い物">買い物</option><option value="重要">重要</option><option value="趣味">趣味</option><option value="勉強">勉強</option></select > ');

            //let sellectvall = row.find('td').eq(2).find('select').val();
            row.find('td').eq(2).find('select').val(currentText);
            $(editBtn).text('保存').removeClass('btn-primary').addClass('btn-success');
        }

        function saveTasks(saveBtn) {
            //クリックしたボタンの行を取得
            var row = $(saveBtn).closest('tr');
            //タイトル列、タグ列、説明列を取得
            var cells = [row.find('td').eq(1), row.find('td').eq(3)];
            //上で取得したセルのspanタグをinputタグに置き換え
            cells.forEach(cell => {
                var currentText = cell.find('input').val();
                if (cell.find('span').length === 0) {
                    cell.html('<span class="todoContents">' + currentText + '</span>');
                }
            });
            let cell = row.find('td').eq(2);
            //$('#tagSelect').val()
            let sellectvall = row.find('td').eq(2).find('select').val();
            cell.html('<span class="todoContents">' + sellectvall + '</span>');
            cell.find('span').addClass('tag-' + sellectvall);
            $(saveBtn).text('編集').removeClass('btn-success').addClass('btn-primary');
        }

        //TODO追加ボタン押下処理
        $('#todoSubmit').click(function (e) {
            //post処理防止
            e.preventDefault();
            //TODO追加処理
            addTasks($('#todoTitle').val(), $('#todoDescription').val(), $('#tagSelect').val());
            //入力テキストを空にする
            $('#todoTitle').val('');
            $('#todoDescription').val('');
            $('#tagSelect').val('');
        });


        //保存ボタンクリック処理
        $('#saveTodo').click(function (e) {
            // tbodyのtr要素(TODOアイテム行)を取得
            var todoItems = $('#todoTable tbody tr');
            //行がない場合は終了
            if (todoItems === null) {
                return false;
            }
            var postItemIndex = 0;
            //行ごとのデータをPOSTメソッドで送れるように加工する
            for (let i = 0; i < todoItems.length; i++) {
                var todoValues = $(todoItems[i]).children("td");
                //td要素(セル)が一つしかない行はデフォルト行なので、処理しない
                if (todoValues.length === 1) {
                    continue;
                }
                //タイトルのデータを作成
                var postTitle = $('<input>').attr({
                    type: 'hidden',
                    name: `todoItems[${postItemIndex}].Title`,
                    value: $(todoValues[1]).find('span')[0].innerHTML
                });
                //タグのデータを作成
                var postTab = $('<input>').attr({
                    type: 'hidden',
                    name: `todoItems[${postItemIndex}].Tab`,
                    value: $(todoValues[2]).find('span')[0].innerHTML
                });
                //説明のデータを作成
                var postDescription = $('<input>').attr({
                    type: 'hidden',
                    name: `todoItems[${postItemIndex}].Description`,
                    value: $(todoValues[3]).find('span')[0].innerHTML
                });

                //データを追加する
                todoItems[i].append(postTitle[0]);
                todoItems[i].append(postTab[0]);
                todoItems[i].append(postDescription[0]);
                postItemIndex++;
            }


        });
        //#endregion

        //Enterキーで追加する
        document.getElementById('todoTitle').addEventListener('keydown', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                $('#todoSubmit').trigger('click');
            }
        });

        //const select = document.getElementById("tagSelect");
        //const addBtn = document.getElementById("todoSubmit");
        //const list = document.getElementById("tagList");

        //addBtn.addEventListener("click", () => {
        //    const option = select.selectedOptions[0];
        //    const color = option.dataset.color;
        //    const text = option.textContent;

        //    const li = document.createElement("li");
        //    li.innerHTML = `<span class="tag" style="background:${color};">${text}</span>`;
        //    list.appendChild(li);
        //});

        //var tagText = $(todoValues[2]).find('span')[0].innerHTML;

        //// タグ名をクラス名に変換（例：仕事 → tag-仕事）
        //var className = "tag-" + tagText;

        //// 表示用タグ
        //var tagSpan = $('<span>')
        //    .addClass('tag-item')
        //    .addClass(className)
        //    .text(tagText);

        //// hidden input（送信用）
        //var postTab = $('<input>').attr({
        //    type: 'hidden',
        //    name: `todoItems[${postItemIndex}].Tab`,
        //    value: tagText
        //});


    </script>

    <style>
        .dashboard-link {
            text-decoration: underline;
            padding-left: calc(var(--bs-gutter-x)* 0.5);
            font-size: 1.5rem;
            width: auto;
        }

        .task_submit {
            height: 2rem;
        }

        #todoListTable {
            width: 100%;
            height: 400px;
            border-radius: 1rem;
            margin-top: 2rem;
        }

        .table-bordered th:first-child {
            width: 10%;
            min-width: 80px;
        }

        .table-bordered td:first-child {
            width: 10%;
            min-width: 80px;
        }

        .todoContents {
            vertical-align: inherit;
        }

        #todoTable tbody {
            display: block;
            max-height: 300px; /* 6行分の高さ */
            overflow-y: auto;
        }

            #todoTable thead,
            #todoTable tbody tr {
                display: table;
                width: 100%;
                table-layout: fixed; /* 列幅を揃える */
            }

        #todoTable th:nth-child(3),
        #todoTable td:nth-child(3) {
            width: 80px; /* タグ欄を小さく */
        }

        #todoTable th:nth-child(4),
        #todoTable td:nth-child(4) {
            width: auto; /* 説明欄を広く */
        }

        /* 共通スタイル */
        .tag-item {
            color: #ffffff;
            padding: 3px 8px;
            border-radius: 4px;
            margin-right: 5px;
            display: inline-block;
        }

        /* タグ名ごとの固定色 */
        .tag-仕事 {
            background-color: #32cd32;
        }

        .tag-買い物 {
            background-color: #ffd700;
        }

        .tag-重要 {
            background-color: #dc143c;
        }

        .tag-勉強 {
            background-color: #4dabf7;
        }

        .tag-趣味 {
            background-color: #ffb6c1;
        }

        /* クリック時に色を濃くする */
        input:active {
            background: #5a5a5a;
        }
    </style>
}